body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

pre {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 30px;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
}

.col {
  text-align: center;
}